

.contenedor{
    width: 1200px;
    margin: 0 auto;
}
.galeria{
 color:black;
}
.foto{
    width: 300px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-bottom-width: 50px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 8px 8px 12px gray;
    border-radius: 0 10px 0 10px;
}
#container{
    width: 80%;

}
img{
    width: 300px;
    height: 200px;
    margin: 1.4%;
}